<h1>sua</h1>

<form action="/update" method="post">
  ID: <input type="text" maLopHoc="maLopHoc" value="<%= Lop.id %>"><br>
  maLopHoc: <input type="text" maLopHoc="maLopHoc"value="<%= lopmaLopHoc.id %>"><br>
  tenLop: <input type="text" tenLop="tenLop"value="<%= loptenLop.id %>"><br>
  soLuong: <input type="number" soLuong="soLuong"value="<%= lopsoLuong.id %>"><br>
  maGiangVien: <input type="text" maGiangVien="maGiangVien"value="<%= lopmaGiangVien.id %>"><br>
  <button type="submit"> them </button>
</form>

